*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

body{
    font-family: 'NotoSansKR';
    min-width: 1320px;
}
/* 헤더 */

header ul {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top {
    width: 1320px;
    margin: 10px auto;
    justify-content: flex-end;
}

.top li a {
    margin-left: 10px;
    color: green;
}

.top li a:hover {
    background-color: rgba(0, 128, 0, 0.5);
    color: #fff;
}

.header_in {
    width: 1320px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_in img{
    display: block;
}

.nav {
    margin-right: 20px;
}

.nav> li{
    position: relative;
}

.nav>li>a {
    display: block;
    padding: 0 20px;
    margin-left: 70px;
    box-sizing: border-box;
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.nav>li:hover>a {
    color: #204A30;
}

/* 메뉴 css 호버효과*/
.solid {
    width: 100%;
    margin: auto;
    height: 3px;
    background: green;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
}

.nav>li:hover>a .solid {
transform: scaleX(1);
opacity: 1;
visibility: visible;
}

/* 서브메뉴 */
.sub{
    position: absolute;
    width: 156px;
    display: none;
    left: 50%;
    margin-left: -45px;
}

.sub li a{
    display: block;
    padding: 10px 20px;    
    background-color: rgba(0, 128, 0, 0.5);
    color: #fff;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.sub li:hover a{
    background-color: #A5D6BA;
    color: #2B9150;
    text-align: center;
    font-weight: bold;
}

/* 배너 */
.banner{
    display: block;
    width: 100%;
    margin-top: 20px;
}

/* 내용 */
    .brand{
        width: 1320px;
        margin: 150px auto 80px;
        display: -moz-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        margin: 0 50px;
    }

    .highlight{
        display: inline-block;
        background: linear-gradient(to right, #2B9150 50%, transparent 50%) 100% 0;
        background-size: 200%;
        transition: all 1s;
        color: #fff;
        padding: 1px 3px;
    }

    .on{
        background-position-x: 0;
    }


    .text h1{
        font-size: 35px;
        font-weight: bold;
        margin: 10px 0 25px;
        color: #2B9150;
    }

.text p{
    line-height: 28px;
}

.scrollme{
    overflow: hidden;
}

.text_scroll{
    font-size: 162px;
    color: #6FB97B;
    margin: 0 0 70px;
}

/* 브랜드 미션  */
.mission{
    width: 100%;
    height: 420px;
    background: url(./sub1_image/mission_banner.png) no-repeat center top;
    box-sizing: border-box;
    padding: 135px;
    text-align: center;
    color: #fff;
}

.mission h2{
    font-size: 43px;
    letter-spacing: 5px;
    color: #A5D6BA;
    margin-bottom: 15px;
}

.mission p{
    letter-spacing: 1px;
    line-height: 25px;
}

.mission_in{
    margin-top: 240px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotted{
    margin: 0 20px;
}

/* 브랜드 비전 */
.vision{
    width: 100%;
    height: 420px;
    background: url(./sub1_image/vision_banner.png) no-repeat center top;
    box-sizing: border-box;
    margin: 500px 0 100px;
    padding: 135px;
    text-align: center;
    color: #fff;
}

.vision h2{
    font-size: 43px;
    letter-spacing: 5px;
    color: rgb(171, 228, 195);
    margin-bottom: 15px;
}

.vision p{
    letter-spacing: 1px;
    line-height: 25px;
}

.vision_in{
    margin-top: 240px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vision_in li{
    color: #349D6C;
}

.vision2{
    margin: 0 50px 0 80px;
}

.vision_p1{
    position: absolute;
    top: 145px;
    left: 95px;
    font-size: 50px;
    font-weight: bold;
}

.vision_p2{
    position: absolute;
    top: 145px;
    left: 195px;
    font-size: 50px;
    font-weight: bold;
}

.vision_p3{
    position: absolute;
    top: 155px;
    left: 92px;
    font-size: 50px;
    font-weight: bold;
}

/* 5R 운동 */
.zero_5R{
    text-align: center;
    margin-top: 1150px;
    font-size: 25px;
    letter-spacing: 2px;
}

.zero_5R img{
    border-radius: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

/* zero-waste */
.zero_waste{
    text-align: center;
    background-color: #E7F8EA;
    padding: 100px 0 0;
    position: relative;
}

.zero_waste h1{
    font-size: 26px;
}

.zero_waste p{
    margin-top: 15px;
    line-height: 24px;
}

.zero_waste img{
    width: 100%;
    display: block;
}

.zw_text{
    position: absolute;
    top: 390px;
    left: 10%;
}

.zw_text h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.zw_text p{
    font-size: 60px;
    font-weight: bold;
    color: #407EFB;
}

.zw_text2{
    position: absolute;
    top: 390px;
    right: 15%;
}

.zw_text2 h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.zw_text2 p{
    font-size: 60px;
    font-weight: bold;
    color: #407EFB;
}

/* 푸터 */
footer{
    background-color: #4D806B;
    padding: 30px 0;
}

.footer_in{
    width: 1320px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    align-items: flex-end;
}

.link, .sns{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}

.company{
    width: 860px;
}

.link{
    margin: 0 0 10px 10px;
}

.link li{
    margin-right: 15px;
}

.link li a{
    color: #fff;
}

.link li a:hover{
    color: gold;
    font-weight: 700;
}

.sns{
   align-self: flex-start;
}

.sns li{
    margin-left: 5px;
}

.sns li a{
    opacity: 0.7;
}

.sns li a:hover{
    opacity: 1;
}

.ft{
    margin-left: 10px;
}

.ft p{
    color: #fff;
    margin-bottom: 5px;
    font-size: 13px;
}